html, body {
  height:100%;
  text-align: center;
  margin:0;
}

ul {
  list-style-type: none;
   margin: 0;
   overflow: hidden;
   padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

nav {
  background-color: black;
}

li a {
  display: block;
  float: left;
  color : white;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
}

textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  width: 50%;
  float: top;
  overflow: scroll;
  margin: auto;
  display: inline-block;
  padding-left: 35px;
  padding-top: 10px;
  outline: none;
  font-family: Courier, sans-serif;
  font-size: 14px;
}

.grid {
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}
